.full-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  padding-top: var(--header-height);
}

// Home
.home-container {
  height: 100%;
  .display-container {
    margin-top: 8rem;
    color: lighten(#000022, 5%);
    p {
      margin-top: 2em;
      letter-spacing: 1px;
    }
  }
}

// Profile
.profile {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  .social{
    margin-left: 1rem;
    a{
      font-size: 1.5rem;
      color: var(--primary);
      margin: 0 1rem;
    }
  }
}

// Experience
.experience-container {
  background-color: var(--secondary);
  color: var(--white);
  padding-bottom: 5rem;
  .title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    opacity: 0.7;
  }
  .cvs {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1300px;
    padding-bottom: 100px;

    &.showDetail {
      .circle-cv {
        opacity: 0.2;
        &:after{ opacity: 0.2;}
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

// ListCv
.circle-cv {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--darkmagenta);
  position: relative;
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity, border-radius 0.5s ease-in-out;

  &:hover,
  &.active {
    opacity: 1;
    border-radius: 10px;
  }

  &:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 200px;
    background-color: var(--darkmagenta);
    opacity: 0.5;
  }

  .job-year {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--orange);
    font-size: 1rem;
    z-index: 201;
    span{
      margin-top: 50%;
      transform: translateY(-50%);
      display: block;
    }
  }
  
  .circle-text {
    margin-top: 50%;
    transform: translateY(-50%);
    padding-left: 20px;
    padding-right: 20px;
    p{
      font-size: 0.9rem;
    }
  }

  &:nth-child(even) {
    margin-top: 18%;
    &::after{
      top: 0;
      transform: rotate(230deg);
      transform-origin: top;
    }
    .job-year {
      right: -40px;
    }
  }
  &:nth-child(odd) {
    &:after{
      bottom: 0;
      transform: rotate(120deg);
      transform-origin: bottom;
    }
    .job-year {
      left: -40px;
    }
  }
  &:last-child{
    &:after{
      display: none;
    }
  }
  .cv-detail {
    position: absolute;
    width: 400px;
    height: 100%;
    top:0;
    padding: 20px;
    background:var(--orange);
    z-index: 200;
    border-radius: 100px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s ease-in;
  }

  &.active {
    .cv-detail {
      opacity: 1;
      transform: scale(1);
      border-radius: 10px;
    }
  }

  .lead{
    font-size: 1.1rem;
  }
  .keywords{
    font-size: 1rem;
    color:#fff;
    letter-spacing: 1px;
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    .cv-detail{
      left: 200px;
      text-align: left;
      transform-origin: left;
    }
  }
  &:nth-child(2) .cv-detail {padding-left: 40px;}
  &:nth-child(5) .cv-detail {padding-right: 40px;}
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    .cv-detail{
      right: 200px;
      text-align: right;
      transform-origin: right;
    }
  }
}

// Work - Projects
.work-container {
  padding-top: 8rem;
  padding-bottom: 5rem;
  .subtitle {
    p {
      margin-top: 2rem;
    }
  }
}

// Portfolio
.portfolio {
  padding: 3rem;
  display: flex;

  .thumbnail {
    height: 198px;
    width: 200px;
    background-color: lighten(#de3c4b, 80%);
    border: 5px solid var(--darkmagenta);
    position: relative;
    overflow: hidden;
    text-align: center;
    flex: 0 0 200px;

    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      filter: grayscale(70%) contrast(1) brightness(100%);
    }

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--primary);
      width: 100%;
      height: 100%;
      opacity: 0.2;
    }
  }

  .description {
    padding-left: 1rem;
    border-bottom: 1px solid var(--darkmagenta);
    p {
      font-family: var(--font-sans-secondary);
    }
    .link {
      display: inline-block;
      a {
        color: var(--secondary);
        font-size: 1.7rem;
        margin-right: 20px;
        &:hover {
          color: var(--darkmagenta);
        }
      }
    }
  }

  &:hover {
    .thumbnail img {filter: none;}

  }
}

@media (max-width: 678px) {
  .circle-cv{
    float: unset;
    .circle-text{
      margin-top: 0;
      transform: translateY(0);
      padding-top: 50px;
    }
    &:nth-child(even){
      margin-top: 0;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6){
      .cv-detail{
        left: 0;
        bottom: -204px;
        top: unset;
      }
    }
    
  }
}

