@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,631;1,400&family=Public+Sans:ital,wght@0,100;0,300;0,531;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
  --white: #fbf5f3;
  --primary: #de3c4b;
  --darkmagenta: #c42847;
  --secondary: #000022;
  --orange: #e28413;
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Public Sans', sans-serif;
  --font-sans-secondary : 'Poppins', sans-serif;
  --header-height: 51px;
}

html {
  scroll-behavior: smooth;
}
html, body, #root {
  height: 100%;
}

body{
  font-family: var(--font-sans);
  font-weight: 100;
  background-color: var(--white);
  color: var(--secondary);
}
.light {
  font-weight: 100;
}
.regular {
  font-weight: 300;
}
.display {
  font-family: var(--font-serif);
  &.light {
    font-weight: 400;
  }
  &.xl {
    font-size: 5rem;
    opacity: 0.8;
  }
}
.italic {
  font-style: italic;
  font-variation-settings: 'ital' 1;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  // border-bottom: 1px solid var(--primary);
  padding-top: 1rem;
  padding-bottom: 1rem;
  // background-color: var(--white);
  justify-content: space-between;
  .nav-item a{
    color: var(--darkmagenta);
    font-weight: 531;
    text-decoration: none;
    margin-right: 3rem;
    border-bottom: 2px solid var(--darkmagenta);
  }
  .nav-link {
    display: inline-block;
  }
}